button {
    border:none;
    background: transparent;

  }
  
  button:focus{
    outline-color: transparent;
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .cta_download {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
  }
  .cta_download:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta_download span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta_download svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta_download:hover:before {
    width: 100%;
    background: #ffab9d;
    cursor:pointer;
  }
  .cta_download:hover svg {
    transform: translateX(0);
  }
  .cta_download:active {
    transform: scale(0.96);
  }


.label {
    color: #E8E8E8;
}

.filter-white {
    filter: invert(100%) sepia(4%) saturate(41%) hue-rotate(117deg) brightness(113%) contrast(82%);
}