.rowContainer {
    display: flex;
    flex-direction: row;
}

.rootUploadWrap {     
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FZFImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding-top: 50px;
}