.cardContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.header {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}