.cardContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    padding-left: 500px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.swal-title {
  font-family: "Roboto";
}

.swal-text {
  font-family: "Roboto";
}

