.cardContainer {
    position: absolute;
    top: 40%;
    left: 48%;
    margin: -100px 0 0 -150px;
}

.swal-title {
  font-family: "Roboto";
}

.swal-text {
  font-family: "Roboto";
}

.loadingContainer {
  height: 10em;
  position: relative
}

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}